{
  "presets": [["@babel/preset-env", { "modules": false }], "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/proposal-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}
