.DS_Store
/node_modules
.gobble*
dist
_actual
_actual.js
coverage
.commithash
.idea
bin/rollup
test/_tmp
test/hooks/tmp
test/tmp
test/typescript/typings
perf/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
